/* Specific styles for the talent menu */
#waitingcolumn .card:hover,
#onreviewcolumn .card:hover,
#approvedcolumn .card:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    transition: all .2s ease-in-out;
}

.cursor-grab {
    cursor: grab;
}

.cursor-grab:active {
    cursor: grabbing;
}



/* -------------------------------------------------------------------------- */
/*                                  ANIMATION                                 */
/* -------------------------------------------------------------------------- */

@media (min-width: 768px) {
    .animate {
        animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.monday-breadcrumb-item+.monday-breadcrumb-item {
    padding-left: var(--bs-breadcrumb-item-padding-x);
}

.monday-breadcrumb-item+.monday-breadcrumb-item::after {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: var(--bs-breadcrumb-divider-color);
    content: '|';
}

.monday-item {
    position: relative;
    padding-bottom: 5px; /* Space for the border */
    text-decoration: none !important;
}

.monday-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #015EC2;
    transition: width 0.3s ease;
}

.monday-item:hover::before,
.monday-item.active::before {
    width: 100%;
}

.monday-active {
    background-color: rgba(var(--WinDOORS-theme-rgb), 0.1);
}

.monday-hover {
    background-color: rgba(var(--WinDOORS-theme-rgb), 0.1);
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .text-turncate-custom {
        max-width: 150px;
    }

    .th-goals {
        min-width: 100px;
        max-width: 100px;
    }
}



select optgroup {
    margin-left: 5px;
}

.optgroup {
    margin-left: 5px;
}

.btn-monday {
    background-color: rgba(var(--WinDOORS-theme-rgb), 0.1);
    border-radius: 5px;
}

.btn-monday:hover {
    background-color: rgba(var(--WinDOORS-theme-rgb), 0.5);
}

.required:after {
    content: " *";
    color: red;
}

.modal-content {
    /* background: rgba(255, 255, 255, 0.8) !important; */
    background: rgba(var(--WinDOORS-theme-bg-rgb), 0.8) !important;
}

.dark-mode .modal-content {
    background: rgba(var(--WinDOORS-theme-bg-rgb), 0.8) !important;
}

.dark-mode .nice-select-dropdown {
    background-color: rgba(var(--WinDOORS-theme-bg-rgb), 1);
    border: 2px solid white;
    padding: 2px
}

.dark-mode .nice-select-search {
    background-color: black;
    color: white;
}

.dark-mode .note-editing-area {
    background: black;
    color: white;
}

.dark-mode .nice-select .option:hover, .dark-mode .nice-select .option.focus, .dark-mode .nice-select .option.selected.focus {
    background-color: black;
}

.dark-mode .nice-select {
    background-color: #000;
}

.dark-mode .jconfirm-box {
    background-color: rgba(var(--WinDOORS-theme-bg-rgb), 1) !important;
}

.Critical {
    background: #1E4E79;
}

.High {
    background: #2E75B5;
}

.Medium {
    background: #9CC2E5;
}

.Low {
    background: #DEEAF6;
}

.mt-4-5 {
    margin-top: 1.7rem;
}

.w-90 {
    width: 95% !important;
}

.badge-4 {
    appearance: none;
    /* background-color: white; */
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 4px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #242424;
    cursor: pointer;
    display: inline-block;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    min-width: 96px;
    list-style: none;
    padding: 5px 12px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.tooltip {
    --bs-tooltip-zindex: 1080;
    --bs-tooltip-max-width: 200px;
    --bs-tooltip-padding-x: 0.5rem;
    --bs-tooltip-padding-y: 0.25rem;
    --bs-tooltip-margin: ;
    --bs-tooltip-font-size: 0.875rem;
    --bs-tooltip-color: #fff;
    --bs-tooltip-bg: #000;
    --bs-tooltip-border-radius: 0.375rem;
    --bs-tooltip-opacity: 0.9;
    --bs-tooltip-arrow-width: 0.8rem;
    --bs-tooltip-arrow-height: 0.4rem;
    z-index: var(--bs-tooltip-zindex);
    display: block;
    padding: var(--bs-tooltip-arrow-height);
    margin: var(--bs-tooltip-margin);
    font-family: var(--bs-font-sans-serif);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    white-space: normal;
    word-spacing: normal;
    line-break: auto;
    font-size: var(--bs-tooltip-font-size);
    word-wrap: break-word;
    opacity: 0;
}

.tooltip.show {
    opacity: var(--bs-tooltip-opacity);
}

.tooltip .tooltip-arrow {
    display: block;
    width: var(--bs-tooltip-arrow-width);
    height: var(--bs-tooltip-arrow-height);
}

.tooltip .tooltip-arrow::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
}

.bs-tooltip-top .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow {
    bottom: 0;
}

.bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    top: -1px;
    border-width: var(--bs-tooltip-arrow-height) calc(var(--bs-tooltip-arrow-width) * 0.5) 0;
    border-top-color: var(--bs-tooltip-bg);
}
